<div class="container">

  <div class="row">

    <div class="col-md-12"></div>
    <h2>From The App Component</h2>
  </div>

  <div class="row">

    <div class="col-md-12 myClass" appCustomizestyledirectives>


      <h2>Learn About Directives</h2>
    </div>
    <hr/>
    <div class="col-md-12 myClass"  appRenderCustomiseStyleDirectives>
      <h2>Directive with Render</h2>
    </div>
    <hr/>
    <div class="col-md-12 myClass"  appEventDirectives>
      <h2>Directive with Events</h2>
    </div>
    <div>
      <hr/>&nbsp;
    </div>
    <div class="col-md-12 myClass "  >
      <button appEventDirectives1>Directive with Events1</button>
    </div>
  </div>
</div>