<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to DataBinding in Angular...</h2>


      Name ::  {{name}}<br/>
      Age ::  {{age}}
      <hr/>

      Name : <input type="text"  [(ngModel)]="name"/><br/>
      Age : <input type = "text" [(ngModel)]="age"/><br/><br/>

      <input type="button " value=" submit"  (click)="handelSubmitBtn()"/>

    </div>
  </div>
</div>
<div class="container1">

  <div class="row" >

    <h2>Property Binding</h2>
    <input type ="text" [disabled]="isDisabled">
    <div class="col-md-12">

      

      
    </div>
  </div>
</div>