img{
    width: 5rem;
    height: 5rem;
}
p{
    width: 600px;
    height: 200px;
    font-size: 1.5rem;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid red;
}