<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Reactive Form Example</h1>
      <hr/>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Form</h2>
      <form [formGroup]="form" >
        <label for="username">USERNAME:</label>
        <input type="text" class="form-control" formControlName="username"/>
        <span *ngIf="u.username.touched && u.username.errors?.['required']">UserName is Madatory</span>
        <span *ngIf="u.username.touched && u.username.errors?.['pattern']">
        
        <ul>
          <li>It should be combinate of [a-zA-Z0-9]</li>
        </ul>
</span>
<br/>
<br/>

<label for="password">PASSWORD:</label>
        <input type="password" class="form-control" formControlName="password"/>
        <span *ngIf="p.password.touched && p.password.errors?.['required']">UserName is Madatory</span>
        <span *ngIf="p.password.touched && p.password.errors?.['pattern']">
        
        <ul>
          <li>It should be combinate of [a-zA-Z0-9]</li>
        </ul>
</span>

<br/>
<br/>
<input type="submit" (click)="login()" value ="LOGIN">


      </form>
    </div>
  </div>
</div>