.container{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-left: 200px;
    margin-top: 50px;
    display: inline-grid;

}

.container1{

    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-left: 500px;
    margin-bottom: 800px;
    
}
