<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>From the App-Component</h2>
      <hr/>
      Message:{{message}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">PID</th>
            <th scope="col">PNAME</th>
            <th scope="col">PRICE</th>
            <th scope ="col">DATE</th>
            <th scope ="cpl">DISCOUNT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let product of products;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{product.pid }}</td>
            <td>{{product.pname | uppercase}}</td>
            <td>{{product.price | currency:'USD'}}</td>
          
            <td>{{product.discount | percent}}</td>
            <td>{{dt|date:'y/M/d H:m'}}</td>
          </tr>
          
        </tbody>
      </table>

    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <h2>Pipe Component</h2>
      Square of Number:{{input | sqr}}
    </div>
  </div>
</div>