<div class="container">

  <div class="headerpart">

    <h2>{{homepage}}</h2>
    <hr color="red"/>
  </div>
  <div class="contentType">
        <h2>User Information</h2>
        FirstName:{{firstName}}<br/>
        LastName :{{lastName}}<br/>
        Age:{{age}}<br/>

        FirstName:<input type="text"[(ngModel)] ="firstName"/>
        <hr color="red"/>
        
       
<h3>  {{localimage}}  </h3>
<img [src]="localimage" alt="Still loading the image.."/>
<button (click) ="action1()">"On Click Here"</button>
  </div>
  <div class="footerType">
    <h6>copywright 2023</h6>
  </div>
</div>